In [1]:
import json
import pandas as pd
import numpy as np
import shutil
import os
from pandas import DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
import cv2

In [2]:
#Read json file
with open('photo_json.json') as data_file:
    data=json.load(data_file)

In [3]:
#Convert to DataFrame
df=DataFrame(data['photojson'])

In [4]:
#Display last 10 entries
df.tail(10)

,caption,photo_id,business_id,label
199990,Scottsdale Restaurants,af30H63e0E_jmOBBXxqyQQ,04L9uKk6OixQ7ForUfPQLw,drink
199991,Asian fusion Scottsdale,Beg6NltQC2dj79SBtFmZeg,04L9uKk6OixQ7ForUfPQLw,food
199992,Cocktails in Scottsdale,dg1dta9889cJxToHLq7uHw,04L9uKk6OixQ7ForUfPQLw,drink
199993,,n4S8ynKVnGV1KpTgEe9glA,04L9uKk6OixQ7ForUfPQLw,inside
199994,,99KSGc5_YF7qnAwjxTty5A,04L9uKk6OixQ7ForUfPQLw,food
199995,,bOxjQteGjgfLC12j3XQ8ZQ,04L9uKk6OixQ7ForUfPQLw,inside
199996,,24vyLQopy8khaNPV4Jzq5Q,04L9uKk6OixQ7ForUfPQLw,inside
199997,ZUCCHINI TRUFFLE MAC Our famous cheese sauce w...,cfYWTTkg2ABYsC0XGFWXPQ,zEJnehBheo9BeT8_o9hvLQ,food
199998,,JCkfrwG54YMpjgEbZSx_WQ,04L9uKk6OixQ7ForUfPQLw,inside
199999,,Rnb8tt2YczYgnvkZ1dJfrA,04L9uKk6OixQ7ForUfPQLw,inside

In [5]:
#caption and nocaption
df_caption = df[df['caption']!=""]
df_nocaption = df[df['caption']==""]

In [6]:
#Caption list
captioned = df_caption['caption'].tolist()
nocaption = df_nocaption['caption'].tolist()

In [18]:
#Number of images with caption
nor_imgs=len(df_caption)
print("Data set has %d observations with caption."%(nor_imgs))

Data set has 92150 observations with caption.

In [21]:
#Append dataframe by number of words in the caption
df_caption['number_of_words'] = df_caption.caption.apply(lambda x: len(x.split()))

C:\Users\BASAVARAJ\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
#New dataframe for captioned images 
df_caption

,caption,photo_id,business_id,label,number_of_words
16,Outside,-bpyOFpGiJsOzh_y17cTMQ,-KIdCJnkt5N8rnnmWR5MQg,outside,1
18,"""last neighborhood bar in Vegas""",YkW51dD0Hzw1572XLzrV5w,JIl4gbnh_cORSjSrZgOjAQ,outside,5
19,now this is a sandwich,fFf5HfvOZZBM_u-9fFSiHw,zU9w_xRlQSRIYXxGo-HSOA,food,5
20,Kai Restaurant,VTRKZpezwa25pyc8ePWLQQ,AkpuhGyLAxhD_sLMQv3kOg,inside,2
21,Resort lounge.,2fp5KiQd91qw351ea2V4Xw,AkpuhGyLAxhD_sLMQv3kOg,inside,2
...,...,...,...,...,...
199989,Takoyaki,iamvSe9AVHrFhgoWI7cGhA,ZAuAwz1ijuydn5yL3q3rzA,food,1
199990,Scottsdale Restaurants,af30H63e0E_jmOBBXxqyQQ,04L9uKk6OixQ7ForUfPQLw,drink,2
199991,Asian fusion Scottsdale,Beg6NltQC2dj79SBtFmZeg,04L9uKk6OixQ7ForUfPQLw,food,3
199992,Cocktails in Scottsdale,dg1dta9889cJxToHLq7uHw,04L9uKk6OixQ7ForUfPQLw,drink,3
199997,ZUCCHINI TRUFFLE MAC Our famous cheese sauce w...,cfYWTTkg2ABYsC0XGFWXPQ,zEJnehBheo9BeT8_o9hvLQ,food,18

In [28]:
#Average number of words per image
sum=df_caption['number_of_words'].sum()
avg=sum/nor_imgs
print("Average number of words per image in caption: %f"%(avg))

Average number of words per image in caption: 5.538535